<div style="text-align: center;">
    <button class="btn btn-primary"
        data-action="paynl-startpayment"
        data-component="{{component}}"
        data-paymentarea="{{paymentarea}}"
        data-itemid="{{itemid}}"
        data-description="{{{description}}}"
    >{{#str}}startpayment, paygw_paynl{{/str}}</button>
</div>
